NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

DPO_COMPANY_TOKEN=
DPO_SERVICE_TYPE=
DPO_API_URL=https://secure.3gdirectpay.com/API/v6/
